<div class="notifications">
  <div class="list-group">
    <a
      href="#"
      class="list-group-item"
      data-toggle="modal"
      data-target="#notificationModal1"
    >
      <i class="fa fa-envelope"></i> Notification 1
      <span class="notification-time">June 20, 2023 10:30 AM</span>
    </a>
    <a
      href="#"
      class="list-group-item"
      data-toggle="modal"
      data-target="#notificationModal2"
    >
      <i class="fa fa-bell"></i> Notification 2
      <span class="notification-time">June 19, 2023 3:45 PM</span>
    </a>
    <a
      href="#"
      class="list-group-item"
      data-toggle="modal"
      data-target="#notificationModal2"
    >
      <i class="fa fa-bell"></i> Notification 2
      <span class="notification-time">June 19, 2023 3:45 PM</span>
    </a>
    <a
      href="#"
      class="list-group-item"
      data-toggle="modal"
      data-target="#notificationModal2"
    >
      <i class="fa fa-bell"></i> Notification 2
      <span class="notification-time">June 19, 2023 3:45 PM</span>
    </a>
  </div>
</div>

<!-- Notification Modals -->
<div id="notificationModal1" class="modal natifications fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Notification 1</h4>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eum
          aliquid voluptatibus numquam officia. Architecto veniam suscipit nisi
          aspernatur quod.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
