<div class="footer-dark" style="background-color: #526d82">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Tutoring</a></li>
            <li><a href="#">Assignment assistance</a></li>
            <li><a href="#">Reseach Assistance</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="/">IntelliTutors</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>IntelliTutors</h3>
          <p>
            IntelliTutors is a premier tutoring company dedicated to unlocking
            your full academic potential. Our team of highly skilled tutors
            provides personalized guidance and support tailored to your unique
            learning needs
          </p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">
        IntelliTutors,Unleashing Academic Excellence © 2023
      </p>
    </div>
  </footer>
</div>
