<section class="container-fluid header">
  <div class="container" content>
    <span style="display: flex; align-items: center">
      <h1 style="margin: 0">
        <span style="color: #0e1a35">I</span>ntelli<span style="color: #0e1a35"
          >T</span
        >utors
      </h1>
    </span>
    <p class="slogan">Unleashing Academic Excellence</p>
    <p style="font-size: 1.5rem">
      IntelliTutors is a premier service provider dedicated to unlocking your
      full academic potential. Our team of highly skilled tutors provides
      personalized guidance and support tailored to your unique learning needs.
      With our innovative teaching methods and a focus on critical thinking and
      problem-solving skills, we empower you to excel in your studies and
      achieve academic success. Discover the difference that intelligent
      tutoring can make at IntelliTutors.
    </p>
    
    <div class="col item social">
      <a href="#"><i class="icon ion-social-facebook"></i></a
      ><a href="#"><i class="icon ion-social-twitter"></i></a
      ><a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>
  </div>
</section>
