<meta charset="utf-8" />
<title>Isaac Mhlanga</title>
<meta charset="utf-8" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<!-- Font awesome -->
<link
  rel="stylesheet"
  href="css/fontawesome/css/fontawesome.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
/>
<link rel="stylesheet" href="css/fontawesome/css/brands.css" rel="stylesheet" />
<link rel="stylesheet" href="css/fontawesome/css/solid.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/styles.css" />

<!-- FontAwesome CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"
/>
