<section class="container-fluid how-it-works">
  <div class="container">
    <h1>How it works</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="mt-2 mt-md-0 p-2 pl-4 box mb-3 pr-4 mr-2">
          <div
            class="d-flex p-3 bg-white align-items-center justify-content-between"
          >
            <div class="p-1 steps">
              <h3 class="h3 mt-3">Sign up</h3>
              <p class="mt-3">
                Create an account by signing up on our platform. Provide your
                basic information and set up your profile.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mt-2 mt-md-0 p-2 pl-4 box mb-3 pr-4">
          <div
            class="d-flex p-3 bg-white align-items-center justify-content-between"
          >
            <div class="p-1 steps">
              <h3 class="h3 mt-3">Choose a Plan</h3>
              <p class="mt-3">
                Select a plan that suits your needs and budget. We offer
                flexible options to cater to individual requirements.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mt-2 mt-md-0 p-2 pl-4 box mb-3 pr-4 mr-2">
          <div
            class="d-flex p-3 bg-white align-items-center justify-content-between"
          >
            <div class="p-1 steps">
              <h3 class="h3 mt-3">Submit Your Request</h3>
              <p class="mt-3">
                After signing up and choosing a plan, submit your request for
                academic project support or assistance.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mt-2 mt-md-0 p-2 pl-4 box mb-3 pr-4">
          <div
            class="d-flex p-3 bg-white align-items-center justify-content-between"
          >
            <div class="p-1 steps">
              <h3 class="h3 mt-3">Receive Personalized Support</h3>
              <p class="mt-3">
                Once your request is received, we will work closely with you to
                provide personalized guidance and support.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
