<section class="container-fluid services">
  <div class="container">
    <div class="row">
      <h1>Services</h1>
      <div class="Discription">
        <p>
          At IntelliTutors, we offer personalized guidance and customized
          tutoring sessions to help you excel in subjects, understand
          challenging concepts, and improve your academic performance. Our
          expert team provides professional assistance with assignments,
          projects, and coursework, ensuring high standards and excellent
          grades. Whether you need help with academic projects or personal
          endeavors, we provide expert guidance, research assistance, and
          project management support for successful completion and outstanding
          results.
        </p>
      </div>

      <div class="col-md-3">
        <div class="card" style="text-align: center">
          <div class="card-title">
            <div class="circle" style="margin-top: -3rem">
              <i class="fas fa-laptop icon fa-5x"></i>
            </div>
            <h2>eLearn</h2>
          </div>
          <div class="card-text">
            <p>
              Convenient online tutoring to access quality education from
              anywhere, anytime.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="text-align: center">
          <div class="card-title">
            <div class="circle">
              <i class="fas fa-user-graduate icon fa-4x"></i>
            </div>
            <h2>TailorLearn</h2>
          </div>
          <div class="card-text">
            <p>
              Personalized attention for customized learning, ensuring effective
              academic progress and understanding.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="text-align: center">
          <div class="card-title">
            <div class="circle">
              <i class="fas fa-lightbulb fa-4x icon"></i>
            </div>
            <h2>ProjectAid</h2>
          </div>
          <div class="card-text">
            <p>
              Expert assistance to excel in projects, fostering creativity,
              problem-solving, and project management skills.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="text-align: center">
          <div class="card-title">
            <div class="circle" style="margin-top: 3rem">
              <i class="fas fas fa-user-friends fa-4x icon"></i>
            </div>
            <h2>Support</h2>
          </div>
          <div class="card-text">
            <p>
              Dedicated guidance and support to enhance learning outcomes,
              boosting confidence and academic performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
