<section class="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <!-- Testimonials -->
    <div class="bg-dark p-5 mx-auto mt-3 mb-3 text-center">
      <div id="carouselTestimonial" class="carousel slide">
        <ol class="carousel-pager">
          <li
            data-target="#carouselTestimonial"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselTestimonial" data-slide-to="1"></li>
          <li data-target="#carouselTestimonial" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item text-center active">
            <div
              class="carousel-testimonial-img p-1 border rounded-circle m-auto"
            >
              <img
                class="d-block w-100 rounded-circle"
                src="/imges/Bontle.jpg"
                alt="First slide"
                style="width: 125px; height: 125px"
              />
            </div>
            <h5 class="mt-4 mb-0">
              <strong class="text-warning text-uppercase"
                >Bontle Mahlangu</strong
              >
            </h5>
            <h6 class="text-dark m-0">University of Johannesburg</h6>
            <p class="m-0 pt-3 testimonial-text">
              "IntelliTutors provided exceptional assistance with my VBA
              assignment. Their expertise, dedication, and genuine support made
              a significant impact on my understanding of the framework. I
              highly recommend Isaac Mhlanga as a mentor who goes above and
              beyond to ensure student success. Thank you for your invaluable
              support in my learning journey."
            </p>
          </div>
          <div class="item text-center">
            <div
              class="carousel-testimonial-img p-1 border rounded-circle m-auto"
            >
              <img
                class="d-block w-100 rounded-circle"
                src="/imges/Intellitutos.png"
                alt="Second slide"
              />
            </div>
            <h5 class="mt-4 mb-0">
              <strong class="text-warning text-uppercase">NOZIPHO</strong>
            </h5>
            <h6 class="text-dark m-0">University of Johannesburg</h6>
            <p class="m-0 pt-3 testimonial-text">
              Isaac Mhlanga, my former applied mathematics tutor and mentor, had
              a profound impact on my academic journey. His expertise,
              dedication, and genuine care were instrumental in my success. I am
              incredibly grateful for his guidance.
              <br>
              <br>
              <br>
            </p>
          </div>
        </div>
        <a
          class="left carousel-control"
          href="#carouselTestimonial"
          role="button"
          data-slide="prev"
        >
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="right carousel-control"
          href="#carouselTestimonial"
          role="button"
          data-slide="next"
        >
          <span
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
            style="background-color: transparent !important"
          ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
