<section class="container-fluid why-us">
  <div class="container">
    <h1>Why choose us?</h1>
    <div class="row">
      <div class="col-md-6">
        <div data-aos="slide-down" data-aos-ease="ease" data-aos-duration="1500" data-aos-delay="500">
           <img
                class="guide1Image"
                src="https://zologie.com/wp-content/uploads/Linkedin_BlogImage_passedwithflyingcolours-14.png"
                alt="3d illustration of boy sitting with legs crossed"
              />
        </div>
        
      </div>
       <div class="col-md-6">
         <div data-aos="slide-up" data-aos-ease="ease" data-aos-duration="1500" data-aos-delay="1000">
           <h3>
                  Online Tutoring Services
                </h1>
                <p class="text-xl">
                  Our In person or online tutoring services provide personalized one-on-one
                  tutoring sessions for students of all ages and skill levels.
                  Our experienced tutors specialize in a wide range of subjects,
                  including math, science, English, history, and more.
                </p>
              </div>

              <div class="mt-6">
                <h3>What We Do</h1>
                <p class="text-xl">
                  We offer customized one-on-one tutoring sessions tailored to
                  each student's individual needs and learning style. Our tutors
                  work with students to develop personalized lesson plans that
                  focus on building skills and improving understanding of key
                  concepts.
                </p>
             </div>
              <button class=" btn btn-lg w-100 btn-outline-dark" href="signup"  type="button">sign up</button>
      </div>
    </div>
  </div>
</section>