<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/head") -%>
  </head>
  <body>
    <!-- Navigation -->
    <%- include("partials/nav") -%>
    <!-- about us section -->
    <div class="container-fluid about">
      <div class="container">
        <h1>About</h1>
        <div class="row">
          <div class="col-md-4">
            <img
              src=""
              alt="Logo"
              class="logo-left img-responsive"
              style="border: 5px solid #0e1a35"
            />
          </div>
          <div class="col-md-8">
            <p>
              We are a passionate group of tutors dedicated to the success of
              our students. With expertise across various subjects, we offer
              comprehensive tutoring services for high school, university, and
              college students. Our mission is to provide personalized guidance
              and support to help students excel academically and reach their
              full potential. Whether it's mastering complex math concepts,
              refining writing skills, or preparing for exams, we tailor our
              approach to meet the unique needs of each student. Through
              interactive sessions, clear explanations, and practical examples,
              we strive to make learning engaging, enjoyable, and effective.
              With our commitment to student success, we aim to foster
              confidence, inspire curiosity, and ignite a lifelong love for
              learning. Join us on this educational journey, where together we
              can achieve great academic accomplishments.
            </p>
          </div>
        </div>

        <hr style="margin-top: 10rem" />

        <div class="container about">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img src="/imges/unnamed.png" alt="Profile Picture" />
                <div class="card-body">
                  <h2 class="card-title">Isaac Mhlanga</h2>
                  <h4 class="card-text text-warning">
                    BSc in Mathematics and Computer Sciences (3rd Year Student)
                  </h4>
                  <p>University Of Johannesburg</p>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img src="/imges/zazi.jpeg" alt="Profile Picture" />
                <div class="card-body">
                  <h2 class="card-title">Zandile Vilakazi</h2>
                  <h4 class="card-text text-warning">
                    BSc in Mathematics and Financial Orientation (3rd Year
                    Student)
                  </h4>
                  <p>University Of Johannesburg</p>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img src="/imges/frans.jpg" alt="Profile Picture" />
                <div class="card-body">
                  <h2 class="card-title">Frans Dinane</h2>
                  <h4 class="card-text text-warning">
                    BSc in Mathematics and Mathematical Statistics with Finance
                    Orientation
                  </h4>
                  <p>University Of Johannesburg</p>
                  <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include("partials/footer") -%>
    <!-- javascript scripts -->
    <%- include("partials/javascript") -%>
  </body>
</html>
