<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/head") -%>
  </head>
  <body>
    <!-- Navigation -->
    <%- include("partials/nav") -%>
    <!-- pricing section -->
<div class="container-fluid pricing">
  <div class="container">
    <h1>Plans</h1>
     <div class="card-deck">
      <div class="row">
      <div class="pricing-column col-lg-4 col-md-6">
       <div class="card">
        <div class="card-header">
          <h1>Basic</h1>
        </div>

        <div class="card-body">
          <h2 class="price-text">500 / mo</h2>
          <p>4 hours of tutoring sessions per month</p>
          <p>Access to learning materials</p>
          <p>Zoom support</p>
           <button class=" btn btn-lg w-100 btn-outline-dark"  type="button">Subscribe</button>
        </div>
       
      </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
       <div class="card">

        <div class="card-header">
          <h1>Premium</h1>
        </div>

        <div class="card-body">
          <h2 class="price-text">R600 / mo</h2>
          <p>8 hours of tutoring sessions per month</p>
           <p>2 assignment assistance</p>
          <p>Access to learning materials</p>
          <p>Zoom and chat support</p>
          <p>Progress tracking</p>
          <p>Weekly progress reports</p>
          <button class="sign-btn btn btn-lg w-100 btn-dark btn-outline-dark" type="button">Subscribe</button>
        </div>

       </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-12">
       <div class="card">

        <div class="card-header">
          <h1>Premium pro</h1>
        </div>

        <div class="card-body">
          <h2 class="price-text">R1100 / mo</h2>
          <p>12 hours of tutoring sessions per month</p>
            <p>4 assignment assistance</p>
          <p>Access to learning materials</p>
          <p>Zoom and chat support</p>
          <p>Progress tracking</p>
          <p>Weekly progress reports</p>
          <p>Mock exams and feedback</p>
          <button class=" sign-btn btn btn-lg w-100 btn-dark btn-outline-dark" type="button">Subscribe</button>
        </div>

        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

    <!-- footer -->
    <%- include("partials/footer") -%>
    <!-- javascripts scripts -->
    <%- include("partials/javascript") -%>
  </body>
</html>
