<header>
  <div class="col-md-7">
    <nav class="navbar-default pull-left">
      <div class="navbar-header ">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="offcanvas"
          data-target="#side-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </nav>
    <div class="search hidden-xs hidden-sm">
      <input type="text" placeholder="Search" id="search" />
    </div>
  </div>
  <div class="col-md-5">
    <div class="header-rightside">
      <ul class="list-inline header-top pull-right">
        <li>
          <a href="mail">
            <i
              class="fa fa-envelope"
              aria-hidden="true"
              style="margin-right: 3px; margin-top: 10px"
            ></i>
          </a>
        </li>
        <li>
          <a href="notification" class="icon-info">
            <i
              class="fa fa-bell"
              aria-hidden="true"
              style="margin-right: 10px; margin-top: 10px"
            ></i>
            <span class="label label-primary">3</span>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/imges/unnamed.png" alt="user" />
            <b class="caret"></b>
          </a>
        </li>
      <li>
        <a href="logout" class="btn logout btn-primary">
          <span class="button-content">
            <span class="button-text">Log out</span>
            <i class="fa fa-sign-out"></i>
          </span>
        </a>
      </li>
      </ul>
    </div>
  </div>
</header>

