<div
  class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box"
  id="navigation"
>
  <div class="logo">
    <a href="#">
      <img
        src="/imges/Intellitutos.png"
        alt="merkery_logo"
        class="hidden-xs hidden-sm"
      />
      <img
        src="/imges/Intellitutos.png"
        alt="merkery_logo"
        class="visible-xs visible-sm circle-logo"
      />
    </a>
  </div>
  <div class="profile">
    <h3 class="hidden-xs hidden-sm">Isaac Mhlanga</h3>
  </div>
  <div class="navi">
    <ul>
      <li class="active">
        <a href="home">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="hidden-xs hidden-sm">Home</span>
        </a>
      </li>
      <li>
        <a href="profile">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="hidden-xs hidden-sm">Profile</span>
        </a>
      </li>
      <li>
        <a href="book">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span class="hidden-xs hidden-sm">Book Tutor</span>
        </a>
      </li>
      <li>
        <a href="upload">
          <i class="fa fa-upload" aria-hidden="true"></i>
          <span class="hidden-xs hidden-sm">Upload Assignment</span>
        </a>
      </li>
    </ul>
  </div>
</div>
